{% include head.html %}
    <body>
          {% include nav.html %}
      <main>
      
        <div class="container">
       
            <h1 id="page-title">{{ page.title }}</h1>
          <div class="post-content">
{{ content }}

          </div>
       
            <div id="disqus_thread" class="comment-section"></div>

          

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
    </div>        </main>

        <footer>
            <nav class="footer-menu menu">
                <ul>
                    <li><span class="site-title">Jon Mester</span></li>
                    

                    <li>Email: jc222rz (a t) student.lnu.se</a></li>

                </ul>
            </nav>
        </footer>
        <script src="" async defer></script>
<script>


(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://jc222rz.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
    </body>
</html>